/* Main Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
}
/* Button Style */
.liquid-button {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
    text-align: center;
}
.button-text {
    position: relative;
    color: #fff;
    font-size: 30px;
    font-family: monospace;
    letter-spacing: 10px;
    z-index: 1;
}
.liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}
.liquid::after,
.liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #000;
}
.liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: wave1 5s linear infinite;
}
.liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: wave2 10s linear infinite;
}
.liquid-button:hover .liquid {
    top: -120px;
}
/* Animations */
@keyframes wave1 {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}
@keyframes wave2 {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(-360deg);
    }
}  